<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuestas Públicas</title>
    <link rel="stylesheet" th:href="@{/css/encuestasRegistrados.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">

</head>
<body>
    <h1>Bienvenido a las Encuestas Públicas y Privadas</h1>
    <p>Explora las encuestas disponibles para todos nustros usuarios Registrados.</p>
    <a href="/encuestas/ver">Ver Encuestas</a>
    <a href="/inicio">Volver al Inicio</a>

    <footer>
    © 2025 Sistema de Encuestas
    </footer>
</body>
</html>
