<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario Administrador</title>
    <link rel="stylesheet" th:href="@{/css/crearUsuarioAdmin.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
    <div class="form-container">
        <h1>Crear Admin</h1>
        <form action="/visitante/crearUsuarioAdmin" method="POST">
            <div class="form-group">
                <label for="username">Nombre de Usuario</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="contrasenia">Contraseña</label>
                <input type="password" id="contrasenia" name="contrasenia" required>
            </div>
            <button type="submit">Crear Usuario Admin</button>
        </form>
    </div>

    <footer>
    © 2025 Sistema de Encuestas
    </footer>
</body>
</html>
