<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mate Amargo</title>
</head>
<body>
    
    <p th:text="'hola como estas ' + ${name} + ' !! '" ></p>

</body>
</html>
<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<p th:text=${name}></p>
</body>
</html>
-->

<!--ESTE ES EL INDEX
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Aca hay algo raro, Puede ser paa!!</h1>

</body>
</html>-->


