<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{/css/pagInicial.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
    <h1>Bienvenido</h1>
    <p>Seleccione una opción:</p>
    <button onclick="window.location.href='/visitante/encuestas'">Ver Encuestas Públicas</button>
    <button onclick="window.location.href='/administrador/inicio'">Ingresar como Admin</button>
    <button onclick="window.location.href='/registrados/inicio'">Ingresar como Usuario Registrado</button>
    <!--CREAR UN BOTON QUE DIGA "REGISTRARME" Y QUE SE REDIRIJA A VISITANTE Y QUE DE AHI A UN HTML Y CREE UN USUARIO CON EL ROL "USER" QUE SERIA UN USUARIO REGISTRADO -->

    <footer>
    © 2025 Sistema de Encuestas
    </footer>
</body>
</html>
